{% extends 'admin_base.html.twig' %}

{% block title %}Newsletters index
{% endblock %}

{% block body %}
	<div class="mx-auto max-w-screen-lg px-4 py-8 sm:px-8">
		<h1 class="text-2xl font-semibold text-gray-700">Liste des Newsletters</h1>

		{% if newsletters is empty %}
			<p class="mt-4 text-gray-500">Aucune newsletter trouvée.</p>
		{% else %}
			<div class="overflow-y-hidden rounded-lg border mt-6">
				<div class="overflow-x-auto">
					<table class="w-full">
						<thead>
							<tr class="bg-blue-600 text-left text-xs font-semibold uppercase tracking-widest text-white">
								<th class="px-5 py-3">ID</th>
								<th class="px-5 py-3">Sujet</th>
								<th class="px-5 py-3">Contenu</th>
								<th class="px-5 py-3">Date d'envoi</th>
								<th class="px-5 py-3">Actions</th>
							</tr>
						</thead>
						<tbody class="text-gray-500">
							{% for newsletter in newsletters %}
								<tr class="bg-white hover:bg-gray-100">
									<td class="border-b border-gray-200 px-5 py-5 text-sm">
										<p class="whitespace-no-wrap">{{ newsletter.id }}</p>
									</td>

									<td class="border-b border-gray-200 px-5 py-5 text-sm">
										<p class="whitespace-no-wrap">{{ newsletter.sujet }}</p>
									</td>

									<td class="border-b border-gray-200 px-5 py-5 text-sm">
										<p class="whitespace-no-wrap">{{ newsletter.contenu }}</p>
									</td>

									<td class="border-b border-gray-200 px-5 py-5 text-sm">
										<p class="whitespace-no-wrap">
											{{ newsletter.dateEnvoi ? newsletter.dateEnvoi|date('Y-m-d H:i:s') : 'Non spécifiée' }}
										</p>
									</td>

									<td class="border-b border-gray-200 px-5 py-5 text-sm">
										<div class="flex space-x-4">
											<a href="{{ path('admin_newsletters_show', { id: newsletter.id }) }}" class="inline-block rounded bg-blue-500 px-4 py-2 text-sm font-semibold text-white hover:bg-blue-600">
												Voir
											</a>
											<a href="{{ path('admin_newsletters_edit', { id: newsletter.id }) }}" class="inline-block rounded bg-green-500 px-4 py-2 text-sm font-semibold text-white hover:bg-green-600">
												Éditer
											</a>
											<a href="{{ path('admin_newsletters_delete', { id: newsletter.id }) }}" class="inline-block rounded bg-red-500 px-4 py-2 text-sm font-semibold text-white hover:bg-red-600">
												Supprimer
											</a>
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% endif %}

		<a href="{{ path('admin_newsletters_new') }}" class="inline-block mt-4 rounded bg-blue-500 px-4 py-2 text-sm font-semibold text-white hover:bg-blue-600">
			Créer une nouvelle newsletter
		</a>
	{% endblock %}
