{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="gradientBg">
        <p>Ici liste des streamers avec API</p>
    </div>
    <div>
        <h2>Questions/Réponses</h2>
        <div>
            <div>
                <img src="{{ asset('assets/medias/accueil/logo1.png') }}"/>
                <h3>Pourquoi un événement caritatif sur Twitch ?</h3>
                <p>Cette plateforme offre à une génération numérique un moyen d'exprimer leur générosité tout en permettant des interactions en direct avec Coalition PLUS et les viewers.</p>
            </div>
            <div>
                <img src="{{ asset('assets/medias/accueil/logo2.png') }}"/>
                <h3>Pourquoi récolter des dons en 2023 pour le VIH/sida ?</h3>
                <p>Le VIH/sida n'est pas une maladie lointaine. Nous connaissons tous des personnes touchées. Si, dans nos pays, elle ne tue plus, ce n'est pas le cas partout : en 2022, 630 000 personnes en sont encore mortes de maladies opportunistes liées au SIDA.</p>
            </div>
            <div>
                <img src="{{ asset('assets/medias/accueil/logo3.png') }}"/>
                <h3>À quoi serviront les dons ?</h3>
                <p>Les dons financeront des dépistages dans les pays où Coalition PLUS opère via ses associations membres, ainsi que l'achat d'unités mobiles et de matériel pour les centres de soins. Connaître son statut sérologique est essentiel pour entamer un suivi de la maladie.</p>
            </div>
        </div>
    </div>
        <h2>
            “ Le Sidastream nous permet, via Twitch, de compter sur la générosité des gameuses et des gamers et de contribuer à faire la différence contre le VIH."
        </h2>
        <img src="{{ asset('assets/medias/accueil/pdg.png') }}"/>
        <p>Vincent Leclercq – Directeur général de Coalition PLUS</p>
    <div>
    </div>
        <h2>Le VIH / Sida en 2022 ce sont :</h2>
        <div>
            <div>
                <img src="{{ asset('assets/medias/accueil/logo4.png') }}"/>
                <h3>39.000.000</h3>
                <p>de personnes qui vivent encore avec la maladie</p>
            </div>
            <div>
                <img src="{{ asset('assets/medias/accueil/logo5.png') }}"/>
                <h3>Près de 10.000.000</h3>
                <p>de personnes n’ont pas accès à un traitement</p>
            </div>
            <div>
                <img src="{{ asset('assets/medias/accueil/logo6.png') }}"/>
                <h3>130.000</h3>
                <p>enfants de moins de 14 ans qui ont été infectés par la maladie</p>
            </div>
            <div>
                <img src="{{ asset('assets/medias/accueil/logo7.png') }}"/>
                <h3>630.000</h3>
                <p>de personnes qui sont décédées des maladies liées au sida</p>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <h3>Envie de faire une donation ?</h3>
                    <p>Visitez les pages de nos streamers et venez découvrir celles et ceux qui participent à l’évènement !</p>
                    <button>Nos streamers</button>
                </div>
                <div>
                    <img src="{{ asset('assets/medias/accueil/logo8.png') }}"/>
                </div>
            </div>
            <div>
                <div>
                    <h3>Envie de streamer pour l’évènement ?</h3>
                    <p>Contactez-nous et inscrivez-vous !</p>
                    <button>Contact</button>
                </div>
                <div>
                    <img src="{{ asset('assets/medias/accueil/logo9.png') }}"/>
                </div>
            </div>
        </div>
    <div>
    </div>
{% endblock %}
