{% extends 'base.html.twig' %}

{% block title %}Stream For Love{% endblock %}

{% block body %}
<div class="gradientBg py-12">
    <h2 class="text-3xl font-bold text-center mb-10 text-white">Nos streamers en direct !</h2>

{% if liveUsers is not empty %}
    <div class="flex flex-wrap gap-4">
        {% for user in liveUsers %}
            <div class="w-24 h-24">
                <img class="w-full h-full rounded-full" src="{{ user.avatar }}" alt="Avatar de {{ user.pseudo }}">
            </div>
        {% endfor %}
    </div>
{% else %}
    <p class="text-2xl font-bold text-center mb-10 text-white">Aucun streamer n'est actuellement en direct.</p>
    <p class="text-xl text-center text-white mb-5">Découvrez les streamers présents pour l'évènement et ne manquez pas leurs prochaines diffusions :</p>
    <div class="text-center">
        <li class="relative inline-block">
            <a href="{{ path('app_streamers') }}" class="btnSfl inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group hover:text-white focus:ring-4 focus:outline-none focus:ring-pink-200">
                <span class="flex items-center justify-center text-lg px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0">
                    Voir les streamers
                </span>
            </a>
        </li>
    </div>
{% endif %}
</div>
<div class="mx-5 md:mx-20 xl:mx-40 py-12 h-full">
    <h2 class="text-3xl font-bold text-center mb-10">Questions/Réponses</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10 text-center">
        <div class="flex flex-col items-center px-5 min-w-[300px]">
            <img class="w-24 h-24 mb-5" src="{{ asset('assets/medias/accueil/logo1.png') }}" alt="Logo 1"/>
            <h3 class="text-2xl font-bold py-3">Pourquoi un événement caritatif sur Twitch ?</h3>
            <p class="px-2 md:px-5">Cette plateforme offre à une génération numérique un moyen d'exprimer leur générosité tout en permettant des interactions en direct avec Coalition PLUS et les viewers.</p>
        </div>
        <div class="flex flex-col items-center px-5 min-w-[300px]">
            <img class="w-24 h-24 mb-5" src="{{ asset('assets/medias/accueil/logo2.png') }}" alt="Logo 2"/>
            <h3 class="text-2xl font-bold py-3">Pourquoi récolter des dons en 2023 pour le VIH/sida ?</h3>
            <p class="px-2 md:px-5">Le VIH/sida n'est pas une maladie lointaine. Nous connaissons tous des personnes touchées. Si, dans nos pays, elle ne tue plus, ce n'est pas le cas partout : en 2022, 630 000 personnes en sont encore mortes de maladies opportunistes liées au SIDA.</p>
        </div>
        <div class="flex flex-col items-center px-5 min-w-[300px]">
            <img class="w-24 h-24 mb-5" src="{{ asset('assets/medias/accueil/logo3.png') }}" alt="Logo 3"/>
            <h3 class="text-2xl font-bold py-3">À quoi serviront les dons ?</h3>
            <p class="px-2 md:px-5">Les dons financeront des dépistages dans les pays où Coalition PLUS opère via ses associations membres, ainsi que l'achat d'unités mobiles et de matériel pour les centres de soins. Connaître son statut sérologique est essentiel pour entamer un suivi de la maladie.</p>
        </div>
    </div>
</div>
<div class="flex flex-col items-center px-5 text-center bg-gray-200 px-20 xl:px-80 py-12">
    <h2 class="text-3xl font-bold pb-5">
        “ Le Sidastream nous permet, via Twitch, de compter sur la générosité des gameuses et des gamers et de contribuer à faire la différence contre le VIH."
    </h2>
    <div class="bg-white rounded-lg p-5">
        <img src="{{ asset('assets/medias/accueil/pdg.png') }}"/>
    </div>
    <p class="pt-5">Vincent Leclercq – Directeur général de Coalition PLUS</p>
</div>
<div class="text-center xl:mx-20 mx-10  py-12">
    <h2 class="text-3xl font-bold pb-10">Le VIH / Sida en 2022 ce sont :</h2>
    <div class="grid grid-flow-row md:grid-flow-col items-start">
        <div class="flex flex-col items-center px-5">
            <img class="size-40 lg:size-52" src="{{ asset('assets/medias/accueil/logo4.png') }}"/>
            <h3 class="text-2xl font-bold py-3">39.000.000</h3>
            <p class="px-10">de personnes qui vivent encore avec la maladie</p>
        </div>
        <div class="flex flex-col items-center px-5">
            <img class="size-40 lg:size-52" src="{{ asset('assets/medias/accueil/logo5.png') }}"/>
            <h3 class="text-2xl font-bold py-3">Près de 10.000.000</h3>
            <p class="px-10">de personnes n’ont pas accès à un traitement</p>
        </div>
        <div class="flex flex-col items-center px-5">
            <img class="size-40 lg:size-52" src="{{ asset('assets/medias/accueil/logo6.png') }}"/>
            <h3 class="text-2xl font-bold py-3">130.000</h3>
            <p class="px-10">enfants de moins de 14 ans qui ont été infectés par la maladie</p>
        </div>
        <div class="flex flex-col items-center px-5">
            <img class="size-40 lg:size-52" src="{{ asset('assets/medias/accueil/logo7.png') }}"/>
            <h3 class="text-2xl font-bold py-3">630.000</h3>
            <p class="px-10">de personnes qui sont décédées des maladies liées au sida</p>
        </div>
    </div>
</div>
<div class="flex flex-col md:flex-row xl:mx-20 py-20">
    <div class="flex flex-col sm:flex-row card1 md:w-1/2 rounded-lg mx-20 p-5">
        <div class="self-center sm:w-2/3 xl:px-10 px-5">
            <h3 class="text-2xl font-bold">Envie de faire une donation ?</h3>
            <p class="py-10">Visitez les pages de nos streamers et venez découvrir celles et ceux qui participent à l’évènement !</p>
            <button class="btnSfl inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group hover:text-white focus:ring-4 focus:outline-none focus:ring-pink-200">
                <span class="flex items-center justify-center px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0">
                    Nos streamers
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </span>
            </button>
        </div>
        <div class="flex justify-end sm:w-1/3 sm:pt-32">
            <img class="size-32" src="{{ asset('assets/medias/accueil/logo8.png') }}"/>
        </div>
    </div>
    <div class="flex flex-col sm:flex-row mt-10 sm:mt-0 card2 md:w-1/2 rounded-lg mx-20 p-5">
        <div class="self-center sm:w-2/3 xl:px-10 px-5">
            <h3 class="text-2xl font-bold">Envie de streamer pour l’évènement ?</h3>
            <p class="py-10">Contactez-nous et inscrivez-vous !</p>
            <button class="btnSfl inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group hover:text-white focus:ring-4 focus:outline-none focus:ring-pink-200">
                <span class="flex items-center justify-center px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0">
                    Contact
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </span>
            </button>
        </div>
        <div class="flex justify-end sm:w-1/3 sm:pt-32">
            <img class="size-32" src="{{ asset('assets/medias/accueil/logo9.png') }}"/>
        </div>
    </div>
</div>
{% endblock %}
