{% extends 'admin_base.html.twig' %}

{% block title %}Éditer Outsiders
{% endblock %}

{% block body %}
	<div class="mx-auto w-10/12 max-w-2xl p-4 border border-gray-300 shadow-lg mt-8">
		<h2 class="text-center font-bold text-2xl mb-5 text-gray-800">Modifier Outsider</h2>
		{% for message in app.session.flashBag.get('success') %}
			<div class="mb-4 p-4 text-sm text-green-700 bg-green-100 rounded-lg" role="alert">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.session.flashBag.get('error') %}
			<div class="mb-4 p-4 text-sm text-red-700 bg-red-100 rounded-lg" role="alert">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('success') %}
			<div class="bg-green-500 text-white p-2 mb-4 rounded">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="bg-red-500 text-white p-2 mb-4 rounded">
				{{ message }}
			</div>
		{% endfor %}

		{{ form_start(form) }}
		<div class="mb-4">
			{{ form_label(form.pseudo, 'Pseudo', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
			{{ form_widget(form.pseudo, {'attr': {'class': 'block w-full mt-1 p-2 bg-gray-100 border border-gray-300 outline-none'}}) }}
		</div>

		<div class="mb-4">
			{{ form_label(form.twitch, 'Twitch', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
			{{ form_widget(form.twitch, {'attr': {'class': 'block w-full mt-1 p-2 bg-gray-100 border border-gray-300 outline-none'}}) }}
		</div>

		<div class="mb-4">
			{{ form_label(form.somme, 'Somme', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
			{{ form_widget(form.somme, {'attr': {'class': 'block w-full mt-1 p-2 bg-gray-100 border border-gray-300 outline-none'}}) }}
		</div>

		<div class="flex justify-end mt-6">
			<a href="{{ path('admin_outsiders_index') }}" class="border border-gray-300 p-2 px-4 font-semibold text-gray-500 mr-2">Retour à la liste</a>
			<button type="submit" class="bg-indigo-500 text-white p-2 px-4 font-semibold border border-indigo-500">Mettre à jour</button>
		</div>

		{{ form_rest(form) }}
		{{ form_end(form) }}
	</div>
{% endblock %}
