{% extends 'admin_base.html.twig' %}

{% block title %}Newsletters{% endblock %}

{% block body %}
    <h1>Newsletters</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ newsletter.id }}</td>
            </tr>
            <tr>
                <th>Sujet</th>
                <td>{{ newsletter.sujet }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ newsletter.contenu }}</td>
            </tr>
            <tr>
                <th>DateEnvoi</th>
                <td>{{ newsletter.dateEnvoi ? newsletter.dateEnvoi|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_newsletters_index') }}">back to list</a>

    <a href="{{ path('admin_newsletters_edit', {'id': newsletter.id}) }}">edit</a>

    {{ include('admin/newsletters/_delete_form.html.twig') }}
{% endblock %}
