{% extends 'base.html.twig' %}

{% block title %}Presentations index{% endblock %}

{% block body %}
    <h1>Presentations index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Picture</th>
                <th>Question1</th>
                <th>Question2</th>
                <th>Question3</th>
                <th>Clip1</th>
                <th>Clip2</th>
                <th>Clip3</th>
                <th>Clip4</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for presentation in presentations %}
            <tr>
                <td>{{ presentation.id }}</td>
                <td>{{ presentation.picture }}</td>
                <td>{{ presentation.question1 }}</td>
                <td>{{ presentation.question2 }}</td>
                <td>{{ presentation.question3 }}</td>
                <td>{{ presentation.clip1 }}</td>
                <td>{{ presentation.clip2 }}</td>
                <td>{{ presentation.clip3 }}</td>
                <td>{{ presentation.clip4 }}</td>
                <td>
                    <a href="{{ path('app_presentations_show', {'id': presentation.id}) }}">show</a>
                    <a href="{{ path('app_presentations_edit', {'id': presentation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_presentations_new') }}">Create new</a>
{% endblock %}
