{% extends 'base.html.twig' %}

{% block title %}
	{{ outsider.pseudo }}
{% endblock %}
<head>
	<meta name="description" content="Découvrez {{ outsider.pseudo }}. Suivez ses aventures et découvrez les derniers jeux récents joués sur son stream. Vous pouvez aussi suivre ses derniers lives sur différentes plateformes de streaming, y compris Twitch.">
	<meta name="keywords" content="{{ outsider.pseudo }}, streaming, outsider, jeux vidéo, plateforme de streaming, Twitch, dernières vidéos, communauté de streamers, jeux récents, somme collectée">
</head>

{% block body %}
	<div class="container mx-auto p-4">
		<h1 class="text-3xl font-bold mb-4">{{ outsider.pseudo }}</h1>
		<div class="flex items-center mb-4">
			<img src="{{ channelInfo['profile_image_url'] }}" alt="Photo de profil de {{ outsider.pseudo }}, streamer" class="w-32 h-32 rounded-full mr-4">
			<div>
				<p>
					<strong>Somme:</strong>
					{{ outsider.somme }}
					€</p>
				<p>
					<strong>Twitch:</strong>
					{{ outsider.twitch }}</p>
			</div>
		</div>

		<h2 class="text-2xl font-bold mb-2">Dernier Jeu Joué</h2>
		{% if recentGames is not empty %}
			<div class="flex items-center">
				<img src="{{ recentGames['box_art_url'] }}" alt="Boîte de jeu pour {{ recentGames['name'] }}, dernier jeu joué par {{ outsider.pseudo }}" class="w-32 h-32 rounded mr-4">
				<div>
					<p>
						<strong>Nom du Jeu:</strong>
						{{ recentGames['name'] }}</p>
				</div>
			</div>
		{% else %}
			<p>Aucun jeu récent trouvé.</p>
		{% endif %}
	</div>
{% endblock %}
