{% extends 'admin_base.html.twig' %}

{% block title %}Utilisateurs en attente
{% endblock %}

{% block body %}
	<div class="mx-auto max-w-screen-lg px-4 py-8 sm:px-8">
		<h1 class="text-2xl font-semibold text-gray-700">Utilisateurs en attente de validation</h1>

		{% if users is empty %}
			<p class="mt-4 text-gray-500">Aucun utilisateur en attente de validation.</p>
		{% else %}
			<div class="overflow-y-hidden rounded-lg border mt-6">
				<div class="overflow-x-auto">
					<table class="w-full">
						<thead>
							<tr class="bg-blue-600 text-left text-xs font-semibold uppercase tracking-widest text-white">
								<th class="px-5 py-3">Email</th>
								<th class="px-5 py-3">Pseudo</th>
								<th class="px-5 py-3">Actions</th>
							</tr>
						</thead>
						<tbody class="text-gray-500">
							{% for user in users %}
								<tr class="bg-white hover:bg-gray-100">
										<td class="border-b border-gray-200 px-5 py-5 text-sm"> <p class="whitespace-no-wrap">{{ user.email }}</p>
									</td>

									<td class="border-b border-gray-200 px-5 py-5 text-sm">
										<p class="whitespace-no-wrap">{{ user.pseudo }}</p>
									</td>

									<td class="border-b border-gray-200 px-5 py-5 text-sm">
										<div
											class="flex space-x-4">
											<form action="{{ path('admin_user_activate', {'id': user.id}) }}" method="post">
												<input type="hidden" name="_token" value="{{ csrf_token('activate' ~ user.id) }}">
												<button type="submit" class="inline-block rounded bg-green-500 px-4 py-2 text-sm font-semibold text-white hover:bg-green-600">
													Valider
												</button>
											</form>

											<form method="post" action="{{ path('admin_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');" class="inline-block">
												<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
												<button class="rounded bg-red-500 px-4 py-2 text-sm font-semibold text-white hover:bg-red-600">
													Supprimer
												</button>
											</form>
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
