{% extends 'admin_base.html.twig' %}

{% block title %}Cagnotte index
{% endblock %}

{% block body %}
	<div class="mx-auto max-w-screen-lg px-4 py-8 sm:px-8">
		<h2 class="text-2xl font-semibold text-gray-700">Liste des Cagnottes</h2>

		{% for message in app.flashes('success') %}
			<div class="mb-4 text-green-600">
				{{ message }}
			</div>
		{% endfor %}

		{% if cagnottes is empty %}
			<p class="mt-4 text-gray-500">Aucune cagnotte trouvée.</p>
		{% else %}
			<div class="overflow-y-hidden rounded-lg border mt-6">
				<div class="overflow-x-auto">
					<table class="w-full">
						<thead>
							<tr class="bg-blue-600 text-left text-xs font-semibold uppercase tracking-widest text-white">
								<th class="px-5 py-3">Pseudo</th>
								<th class="px-5 py-3">Actions</th>
							</tr>
						</thead>
						<tbody class="text-gray-500">
							{% for cagnotte in cagnottes %}
								<tr class="bg-white hover:bg-gray-100">
									<td class="border-b border-gray-200 px-5 py-5 text-sm">
										<p class="whitespace-no-wrap">Cagnotte de : <span class="font-bold">{{ cagnotte.user.pseudo }}</span></p>
									</td>
									<td class="border-b border-gray-200 px-5 py-5 text-sm">
										<div class="flex space-x-4">
											<a href="{{ path('admin_cagnottes_edit', {'id': cagnotte.id}) }}" class="inline-block rounded bg-green-500 px-4 py-2 text-sm font-semibold text-white hover:bg-green-600">
												Éditer
											</a>
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% endif %}

		<div class="mt-4">
			<a href="{{ path('admin_cagnottes_new') }}" class="inline-block rounded bg-indigo-500 px-4 py-2 text-sm font-semibold text-white hover:bg-indigo-600">
				Créer une nouvelle Cagnotte
			</a>
		</div>

		{% if is_granted('ROLE_ADMIN') %}
			<div class="mt-4">
				<form action="{{ path('admin_cagnottes_delete_all') }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer toutes les cagnottes ?');">
					<button type="submit" class="bg-red-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-red-600">
						Supprimer toutes les cagnottes
					</button>
				</form>
			</div>
		{% endif %}
	</div>
{% endblock %}
