{% extends 'admin_base.html.twig' %}

{% block title %}Outsiders{% endblock %}

{% block body %}
    <h1>Outsiders</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ outsider.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ outsider.pseudo }}</td>
            </tr>
            <tr>
                <th>Twitch</th>
                <td>{{ outsider.twitch }}</td>
            </tr>
            <tr>
                <th>Somme</th>
                <td>{{ outsider.somme }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_outsiders_index') }}">back to list</a>

    <a href="{{ path('admin_outsiders_edit', {'id': outsider.id}) }}">edit</a>

    {{ include('admin/outsiders/_delete_form.html.twig') }}
{% endblock %}
