{% extends 'admin_base.html.twig' %}

{% block title %}Détails Outsider{% endblock %}

{% block body %}
<div class="mx-auto w-10/12 max-w-2xl p-4 border border-gray-300 shadow-lg mt-8">
    <h1 class="text-center font-bold text-2xl mb-5 text-gray-800">Détails de l'Outsider</h1>

    <div class="mb-4">
        <h2 class="text-lg font-semibold text-gray-700">Pseudo</h2>
        <p class="mt-1 p-2 bg-gray-100 border border-gray-300 rounded">{{ outsider.pseudo }}</p>
    </div>

    <div class="mb-4">
        <h2 class="text-lg font-semibold text-gray-700">Twitch</h2>
        <p class="mt-1 p-2 bg-gray-100 border border-gray-300 rounded">{{ outsider.twitch }}</p>
    </div>

    <div class="mb-4">
        <h2 class="text-lg font-semibold text-gray-700">Somme</h2>
        <p class="mt-1 p-2 bg-gray-100 border border-gray-300 rounded">{{ outsider.somme }}</p>
    </div>

    <!-- Boutons d'action -->
    <div class="flex justify-end mt-6">
        <a href="{{ path('admin_outsiders_index') }}" class="border border-gray-300 p-2 px-4 font-semibold text-gray-500 mr-2">Retour à la liste</a>
        <a href="{{ path('admin_outsiders_edit', {'id': outsider.id}) }}" class="bg-green-500 text-white p-2 px-4 font-semibold border border-green-500">Éditer</a>
        {{ include('admin/outsiders/_delete_form.html.twig', {'outsider': outsider}) }}
    </div>
</div>
{% endblock %}
