{% extends 'base.html.twig' %}

{% block title %}SocialsNetwork index{% endblock %}

{% block body %}
    <h1>SocialsNetwork index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for socials_network in socials_networks %}
            <tr>
                <td>{{ socials_network.id }}</td>
                <td>{{ socials_network.url }}</td>
                <td>{{ socials_network.name }}</td>
                <td>
                    <a href="{{ path('app_socials_network_show', {'id': socials_network.id}) }}">show</a>
                    <a href="{{ path('app_socials_network_edit', {'id': socials_network.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_socials_network_new') }}">Create new</a>
{% endblock %}
