{% extends 'admin_base.html.twig' %}

{% block title %}Créer un Article{% endblock %}

{% block body %}
<div class="mx-auto w-10/12 max-w-2xl p-4 border border-gray-300 shadow-lg mt-8">
    <h1 class="text-center font-bold text-2xl mb-5 text-gray-800">Créer un Article</h1>

    {% for message in app.session.flashBag.get('success') %}
        <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
            <strong class="font-bold">Succès!</strong>
            <span class="block sm:inline">{{ message }}</span>
        </div>
    {% endfor %}

    {% for message in app.session.flashBag.get('error') %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <strong class="font-bold">Erreur!</strong>
            <span class="block sm:inline">{{ message }}</span>
        </div>
    {% endfor %}
    
    {{ form_start(form) }}
        <div class="mb-4">
            {{ form_label(form.entete, 'Image de présentation', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
            {{ form_widget(form.entete, {'attr': {'class': 'block w-full mt-1 p-2 bg-gray-100 border border-gray-300 outline-none'}}) }}
        </div>

        <div class="mb-4">
            {{ form_label(form.titre, 'Titre', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
            {{ form_widget(form.titre, {'attr': {'class': 'block w-full mt-1 p-2 bg-gray-100 border border-gray-300 outline-none'}}) }}
        </div>

        <div class="mb-4">
            {{ form_label(form.accroche, 'Accroche', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
            {{ form_widget(form.accroche, {'attr': {'class': 'block w-full mt-1 p-2 bg-gray-100 border border-gray-300 outline-none'}}) }}
        </div>

        <div class="mb-4">
            {{ form_label(form.texte, 'Texte', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
            {{ form_widget(form.texte, {'attr': {'class': 'block w-full mt-1 p-2 bg-gray-100 border border-gray-300 outline-none'}}) }}
        </div>

        <!-- Boutons d'action -->
        <div class="flex justify-end mt-6">
            <a href="{{ path('admin_articles_index') }}" class="border border-gray-300 p-2 px-4 font-semibold text-gray-500 mr-2">Retour à la liste</a>
            <button type="submit" class="bg-indigo-500 text-white p-2 px-4 font-semibold border border-indigo-500">Créer</button>
        </div>

    {{ form_end(form) }}
</div>
{% endblock %}
