{% extends 'base.html.twig' %}

{% block title %}Inscription à la Newsletter - Stream For Love
{% endblock %}

{% block body %}
	<div class="gradientBg py-12 flex flex-col items-center">
		<img class="h-auto max-w-full sm:max-w-xl md:max-w-2xl lg:max-w-3xl rounded-lg object-cover" src="{{ asset('assets/medias/headers/thumbnail_newsletter.jpeg') }}" alt="">
		<h2 class="font-bold text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl" style="color: #9F2627;">Abonnez-vous à la Newsletter !</h2>
		<p class="text-white px-4 sm:px-16 md:px-32 lg:px-52">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec pharetra nunc. Aenean semper congue eros, ac auctor neque dapibus ut. Quisque ultrices dignissim semper. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec rutrum lacus magna, eget placerat ex placerat eget. Aenean ante lacus, aliquam in ipsum eu, molestie posuere risus. Donec accumsan nisi commodo eleifend elementum. Fusce nec eros vel lacus laoreet tincidunt. Maecenas lacinia augue et mi rutrum malesuada. Ut condimentum, velit at auctor fermentum, erat purus consectetur nibh, sed cursus urna tellus hendrerit tellus. Cras molestie euismod lorem, vestibulum congue enim gravida ut. Morbi gravida sed leo eget dapibus. Cras lobortis a mauris nec dignissim.</p>
	</div>

	<div class="py-12 flex flex-col items-center justify-center gradientBg">
		<div class="flex flex-col bg-white shadow-md px-6 sm:px-8 md:px-10 py-8 rounded-3xl w-full max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl">
			<div class="font-medium self-center text-lg sm:text-xl md:text-2xl lg:text-3xl text-gray-800">
				Inscription
			</div>
			<div class="mt-4 self-center text-sm sm:text-base md:text-lg lg:text-xl text-gray-800">
				Entrez vos informations pour vous inscrire
			</div>

			<div class="mt-10">
				{{ form_start(form, { 'attr': {'class': 'space-y-4'} }) }}

				{% if app.user %}
					<div class="mb-3 text-sm sm:text-base">
						Vous êtes connecté en tant que
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}" class="text-blue-500 hover:underline">Déconnexion</a>
					</div>
				{% endif %}

				{% if app.flashes('success') %}
					{% for message in app.flashes('success') %}
						<div class="alert alert-success mb-4 text-sm sm:text-base">
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}

				<div class="flex flex-col mb-5">
					{{ form_label(form.email, 'E-Mail:', {'attr': {'class': 'mb-1 text-xs sm:text-sm tracking-wide text-gray-600'}}) }}
					<div class="relative">
						<div class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400">
							<i class="fas fa-at text-blue-500"></i>
						</div>
						{{ form_widget(form.email, {'attr': {
                        'class': 'text-sm sm:text-base placeholder-gray-500 pl-10 pr-4 rounded-2xl border border-gray-400 w-full py-2 focus:outline-none focus:border-blue-400',
                        'placeholder': 'Votre e-mail'
                    }}) }}
					</div>
				</div>

				{{ form_rest(form) }}

				<div class="flex w-full">
					<button type="submit" class="flex mt-2 items-center justify-center focus:outline-none text-white text-sm sm:text-base btnSfl rounded-2xl py-2 w-full transition duration-150 ease-in bg-red-600 hover:bg-red-700">
						<span class="mr-2 uppercase">S'inscrire</span>
						<span>
							<svg class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" stroke="currentColor">
								<path d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
							</svg>
						</span>
					</button>
				</div>

				{{ form_end(form) }}
			</div>
		</div>
	</div>

{% endblock %}
