{% extends 'admin_base.html.twig' %}

{% block title %}Modifier votre Profil
{% endblock %}

{% block body %}
	<div class="ml-auto pb-6 lg:w-[75%] xl:w-[80%] 2xl:w-[85%]">
		<div class="container mx-auto px-4 py-8">
			<h1 class="text-center text-2xl font-bold mb-4 text-gray-800">Modifier votre Profil</h1>

			{% for label, messages in app.flashes %}
				<div class="mb-4">
					<div class="bg-{{ label == 'success' ? 'green' : 'red' }}-100 border-l-4 border-{{ label == 'success' ? 'green' : 'red' }}-500 text-{{ label == 'success' ? 'green' : 'red' }}-700 p-4" role="alert">
						<p class="font-bold">{{ label == 'success' ? 'Succès' : 'Erreur' }}</p>
						<p>{{ messages|join(', ') }}</p>
					</div>
				</div>
			{% endfor %}

			<div class="mx-auto w-11/12 max-w-3xl border border-gray-300 p-5 shadow-lg rounded-lg bg-white mt-8">
				{{ form_start(avatar_form) }}

				<div class="mb-4">
					<label class="block text-gray-700 font-bold mb-2">Avatar actuel</label>
					{% if app.user.avatar %}
						<img src="{{ asset('assets/users/avatars/' ~ app.user.avatar) }}" alt="Avatar actuel" class="w-64 h-64 object-cover rounded-full pb-2">
					{% else %}
						<p>Pas d'avatar</p>
					{% endif %}
				</div>

				<div class="mb-4">
					{{ form_label(avatar_form.avatar, null, {'attr': {'class': 'block text-gray-700 font-bold mb-2'}}) }}
					{{ form_widget(avatar_form.avatar, {'attr': {'class': 'w-full border border-gray-300 p-2 rounded-lg'}}) }}
					{{ form_errors(avatar_form.avatar) }}
				</div>

				<div class="mb-4">
					{{ form_label(avatar_form.pronoms, null, {'attr': {'class': 'block text-gray-700 font-bold mb-2'}}) }}
					{{ form_widget(avatar_form.pronoms, {'attr': {'class': 'w-full border border-gray-300 p-2 rounded-lg'}}) }}
					{{ form_errors(avatar_form.pronoms) }}
				</div>

				<div class="flex justify-end mt-4">
					<button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Mettre à jour</button>
				</div>
				{{ form_end(avatar_form) }}
			</div>

			<!-- Section Cagnotte -->
            <div class="mx-auto w-11/12 max-w-3xl border border-gray-300 p-5 shadow-lg rounded-lg bg-white mt-8">
                <h2 class="text-lg font-bold mb-4">Ajouter le lien de votre cagnotte</h2>
                {{ form_start(cagnotte_form) }}

                <div class="mb-4">
                    {{ form_label(cagnotte_form.lien, null, {'attr': {'class': 'block text-gray-700 font-bold mb-2'}}) }}
                    {{ form_widget(cagnotte_form.lien, {'attr': {'class': 'w-full border border-gray-300 p-2 rounded-lg'}}) }}
                    {{ form_errors(cagnotte_form.lien) }}
                </div>

                <div class="flex justify-end mt-4">
                    <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded">Enregistrer la cagnotte</button>
                </div>
                {{ form_end(cagnotte_form) }}
            </div>

			<div class="mx-auto w-11/12 max-w-3xl border border-gray-300 p-5 shadow-lg rounded-lg bg-white mt-8">
				<h2 class="text-lg font-bold mb-4">Modifier le Profil</h2>
				{{ form_start(profile_form) }}

				<div class="mb-4">
					{{ form_label(profile_form.email, null, {'attr': {'class': 'block text-gray-700 font-bold mb-2'}}) }}
					{{ form_widget(profile_form.email, {'attr': {'class': 'w-full border border-gray-300 p-2 rounded-lg'}}) }}
					{{ form_errors(profile_form.email) }}
				</div>

				<div class="mb-4">
					{{ form_label(profile_form.pseudo, null, {'attr': {'class': 'block text-gray-700 font-bold mb-2'}}) }}
					{{ form_widget(profile_form.pseudo, {'attr': {'class': 'w-full border border-gray-300 p-2 rounded-lg'}}) }}
					{{ form_errors(profile_form.pseudo) }}
				</div>

				<div class="mb-4">
					{{ form_label(profile_form.old_password, null, {'attr': {'class': 'block text-gray-700 font-bold mb-2'}}) }}
					{{ form_widget(profile_form.old_password, {'attr': {'class': 'w-full border border-gray-300 p-2 rounded-lg'}}) }}
					{{ form_errors(profile_form.old_password) }}
				</div>

				<div class="mb-4">
					{{ form_label(profile_form.new_password.first, null, {'attr': {'class': 'block text-gray-700 font-bold mb-2'}}) }}
					{{ form_widget(profile_form.new_password.first, {'attr': {'class': 'w-full border border-gray-300 p-2 rounded-lg'}}) }}
					{{ form_errors(profile_form.new_password.first) }}
				</div>

				<div class="mb-4">
					{{ form_label(profile_form.new_password.second, null, {'attr': {'class': 'block text-gray-700 font-bold mb-2'}}) }}
					{{ form_widget(profile_form.new_password.second, {'attr': {'class': 'w-full border border-gray-300 p-2 rounded-lg'}}) }}
					{{ form_errors(profile_form.new_password.second) }}
				</div>

				<div class="flex justify-end mt-4">
					<a href="{{ path('admin_profile_edit') }}" class="border border-gray-300 p-2 px-4 font-semibold text-gray-500 mr-2">Retour au profil</a>
					<button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Mettre à jour le Profil</button>
				</div>
				{{ form_end(profile_form) }}
			</div>
		</div>
	</div>
{% endblock %}
