{% extends 'user_base.html.twig' %}

{% block title %}Mes Réseaux Sociaux
{% endblock %}

{% block body %}
	<div class="ml-auto mb-6 lg:w-[75%] xl:w-[80%] 2xl:w-[85%]">
		<div class="container mx-auto px-4 py-8">
			<h1 class="text-2xl font-bold mb-4">Mes Réseaux Sociaux</h1>

			 {% for label, messages in app.flashes %}
            <div class="mb-4">
                <div class="bg-{{ label == 'success' ? 'green' : 'red' }}-100 border-l-4 border-{{ label == 'success' ? 'green' : 'red' }}-500 text-{{ label == 'success' ? 'green' : 'red' }}-700 p-4" role="alert">
                    <p class="font-bold">{{ label == 'success' ? 'Succès' : 'Erreur' }}</p>
                    <p>{{ messages|join(', ') }}</p>
                </div>
            </div>
        {% endfor %}

			<a href="{{ path('streamer_socials_network_new') }}" class="text-white bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded mb-4 inline-block">
				Ajouter un réseau social
			</a>

			<ul class="list-disc pl-5">
				{% for social in socials_networks %}
					<li class="mb-2">
						<strong>{{ social.name | capitalize }}</strong>:
						{{ social.url }}
						<a href="{{ path('streamer_socials_network_edit', {'id': social.id}) }}" class="text-yellow-500 hover:underline ml-4">Éditer</a>
						<form action="{{ path('streamer_socials_network_delete', {'id': social.id}) }}" method="post" style="display:inline;">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ social.id) }}">
							<button type="submit" class="text-red-500 hover:underline ml-4">Supprimer</button>
						</form>
					</li>
				{% else %}
					<li>Aucun réseau social trouvé.</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
