{% extends 'user_base.html.twig' %}

{{ form_start(form) }}

    {{ form_label(form.picture) }}
    {{ form_widget(form.picture) }}

    {{ form_label(form.question1) }}
    {{ form_widget(form.question1, {'attr': {'class': 'quill-editor'}}) }}

    {{ form_label(form.question2) }}
    {{ form_widget(form.question2, {'attr': {'class': 'quill-editor'}}) }}

    {{ form_label(form.question3) }}
    {{ form_widget(form.question3, {'attr': {'class': 'quill-editor'}}) }}

    {{ form_row(form.clip1) }}
    {{ form_row(form.clip2) }}
    {{ form_row(form.clip3) }}
    {{ form_row(form.clip4) }}

    <button type="submit" class="btn btn-primary">Mettre à jour</button>

{{ form_end(form) }}
