<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Stream For Love - Luttons contre le VIH et le SIDA
			{% endblock %}
		</title>
		<meta name="description" content="Rejoignez Coalition PLUS pour l'événement annuel Stream For Love et soutenez la lutte contre le VIH et le SIDA avec des streamers sur Twitch."/>
    <meta name="keywords" content="Coalition PLUS, VIH, SIDA, Stream For Love, dons, Twitch, associations"/>
    <meta name="author" content="JAMBON 'Ythel_' Yoan"/>
    <meta name="robots" content="index, follow">
<!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ asset('/assets/medias/accueil/favicon.ico') }}" sizes="32x32"/>

    <!-- Open Graph Tags -->
    <meta property="og:title" content="Stream For Love - Luttons contre le VIH et le SIDA" />
    <meta property="og:description" content="Rejoignez Coalition PLUS pour l'événement annuel Stream For Love et soutenez la lutte contre le VIH et le SIDA avec des streamers sur Twitch." />
    <meta property="og:image" content="{{ asset('/assets/medias/headers/logo.png') }}" />
    <meta property="og:url" content="https://facebook.com/coalitionplus" />
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	{{ include('views/header.html.twig') }}
	<body>
		{% block body %}{% endblock %}
		<script src="https://unpkg.com/@popperjs/core@2"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script>
			document.addEventListener('click', function (e) {
const toggle = e.target.closest('.dropdown-toggle');
const menu = e.target.closest('.dropdown-menu');
if (toggle) {
const menuEl = toggle.closest('.dropdown').querySelector('.dropdown-menu');
if (menuEl.classList.contains('hidden')) {
hideDropdown();
menuEl.classList.remove('hidden');
} else {
menuEl.classList.add('hidden');
}
} else if (! menu) {
hideDropdown();
}
});

function hideDropdown() {
document.querySelectorAll('.dropdown-menu').forEach(function (item) {
item.classList.add('hidden');
});
}
		</script>
	</body>
	{# {{ include('views/newsletter.html.twig') }} #}
	{{ include('views/footer.html.twig') }}
	{{ include('views/back_to_top.html.twig') }}
</html>
