{% extends 'base.html.twig' %}

{% block title %}Hello StreamerController!{% endblock %}

{% block body %}
<style>
    #newsletterSection {
        display: none;
    }
</style>
<div class="gradientBg py-12 px-20">
    <h2 class="text-3xl font-bold text-center pb-10 text-white">Les streamers de l'évènement</h2>

    {% if activeStreamers is not empty %}
        <ul class="flex flex-wrap gap-4 justify-between">
            {% for streamer in activeStreamers %}
                <li>
                    <a href="{{ path('app_streamers_show', { 'pseudo': streamer.pseudo }) }}">
                        <img class="rounded-full w-44 h-auto" src="{{ streamer.avatarUrl }}" alt="{{ streamer.pseudo }}'s avatar">
                        <p class="text-center pt-4 font-bold text-white text-xl">{{ streamer.pseudo }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-2xl font-bold text-center pb-10 text-white">Aucun streamer trouvé.</p>
    {% endif %}
</div>

<div class="py-12 px-20">
    <h2 class="text-3xl font-bold text-center pb-10">Streamers anciens évènements</h2>

    {% if inactiveStreamers is not empty %}
        <ul class="flex flex-wrap gap-4 justify-between">
            {% for streamer in inactiveStreamers %}
                <li>
                    <a href="{{ path('app_streamers_show', { 'pseudo': streamer.pseudo }) }}">
                        <img class="rounded-full w-44 h-auto" src="{{ streamer.avatarUrl }}" alt="{{ streamer.pseudo }}'s avatar">
                        <p class="text-center pt-4 font-bold text-xl">{{ streamer.pseudo }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-2xl font-bold text-center pb-10">Aucun streamer trouvé.</p>
    {% endif %}
</div>

<div class="py-12 px-20">
    <h2 class="text-3xl font-bold text-center pb-10">Les streamers hors-évènement</h2>

    {% if outsiders is not empty %}
        <ul class="flex flex-wrap gap-4 justify-between">
            {% for outsider in outsiders %}
                <li>
                    <a href="{{ path('app_outsiders_show', { 'pseudo': outsider.pseudo }) }}">
                        <img class="rounded-full w-44 h-auto" src="{{ outsider.avatarUrl }}" alt="{{ outsider.pseudo }}'s avatar">
                        <p class="text-center pt-4 font-bold text-xl">{{ outsider.pseudo }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-2xl font-bold text-center pb-10">Aucun streamer trouvé.</p>
    {% endif %}
</div>
{% endblock %}
