{% extends 'base.html.twig' %}

{% block title %}Nos Streamers - Stream For Love{% endblock %}

{% block body %}
<style>
    #newsletterSection {
        display: none;
    }
</style>
<div class="gradientBg py-12 px-4 md:px-8 lg:px-16 xl:px-20">
    <h2 class="text-2xl md:text-3xl font-bold text-center pb-6 md:pb-10 text-white">Les streamers de l'évènement</h2>

    {% if activeStreamers is not empty %}
        <ul class="flex flex-wrap gap-4 justify-center">
            {% for streamer in activeStreamers %}
                <li class="w-24 sm:w-32 md:w-44 lg:w-48 xl:w-56">
                    <a href="{{ path('app_streamers_show', { 'pseudo': streamer.pseudo }) }}" class="flex flex-col items-center">
                        <img class="rounded-full w-full h-auto bg-white {% if streamer.isLive %}border-8 border-red-600{% endif %}" src="{{ streamer.avatarUrl }}" alt="{{ streamer.pseudo }}'s avatar">
                        <p class="text-center pt-2 sm:pt-4 font-bold text-sm sm:text-base md:text-xl text-white">{{ streamer.pseudo }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-xl md:text-2xl font-bold text-center pb-6 md:pb-10 text-white">Aucun streamer trouvé.</p>
    {% endif %}
</div>

<div class="py-12 px-4 md:px-8 lg:px-16 xl:px-20">
    <h2 class="text-2xl md:text-3xl font-bold text-center pb-6 md:pb-10">Streamers anciens évènements</h2>

    {% if inactiveStreamers is not empty %}
        <ul class="flex flex-wrap gap-4 justify-center">
            {% for streamer in inactiveStreamers %}
                <li class="w-24 sm:w-32 md:w-44 lg:w-48 xl:w-56">
                    <a href="{{ path('app_streamers_show', { 'pseudo': streamer.pseudo }) }}" class="flex flex-col items-center">
                        <img class="rounded-full w-full h-auto bg-white {% if streamer.isLive %}border-8 border-red-600{% endif %}" src="{{ streamer.avatarUrl }}" alt="{{ streamer.pseudo }}'s avatar">
                        <p class="text-center pt-2 sm:pt-4 font-bold text-sm sm:text-base md:text-xl">{{ streamer.pseudo }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-xl md:text-2xl font-bold text-center pb-6 md:pb-10">Aucun streamer trouvé.</p>
    {% endif %}
</div>

<div class="py-12 px-4 md:px-8 lg:px-16 xl:px-20">
    <h2 class="text-2xl md:text-3xl font-bold text-center pb-6 md:pb-10">Les streamers hors-évènement</h2>

    {% if outsiders is not empty %}
        <ul class="flex flex-wrap gap-4 justify-center">
            {% for outsider in outsiders %}
                <li class="w-24 sm:w-32 md:w-44 lg:w-48 xl:w-56">
                    <a href="{{ path('app_outsiders_show', { 'pseudo': outsider.pseudo }) }}" class="flex flex-col items-center">
                        <img class="rounded-full w-full h-auto bg-white" src="{{ outsider.avatarUrl }}" alt="{{ outsider.pseudo }}'s avatar">
                        <p class="text-center pt-2 sm:pt-4 font-bold text-sm sm:text-base md:text-xl">{{ outsider.pseudo }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-xl md:text-2xl font-bold text-center pb-6 md:pb-10">Aucun streamer trouvé.</p>
    {% endif %}
</div>
{% endblock %}
